<!Doctype html>
<!-- Update your html tag to include the itemscope and itemtype attributes. -->
<html itemscope itemtype="http://schema.org/Article">

<!-- Add the following three tags inside head. -->

<html xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://ogp.me/ns/fb#">

	<head>
		<meta property="fb:app_id" content="233902406664495" />
<meta property="og:image" content="http://photos-g.ak.fbcdn.net/photos-ak-snc7/v85006/135/233902406664495/app_1_233902406664495_865765470.gif" />
<meta property="og:description" content="La oscuridad se acerca." />
		<title>Dark Rises</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		{% block meta %}
		{% endblock %}
		{% block stylesheets %}
		{% include 'DarkRisesWebBundle:Default:css.html.twig' %}
		{% endblock %}
	</head>
	<body>
	{% block lightboxes %}
		<div class='shadow'></div>
	{% endblock %}
		<div class="page">
			<div class="head">
				<img src="{{ asset("img/logo.png") }}" alt="Dark Rises"/>
			</div>
		</div>
		{% block menu %}
		  {% include 'DarkRisesWebBundle:Default:menu.html.twig' %}
		{% endblock %}
		<div class="page main-content">
			{% block idioma %}
				{% include 'DarkRisesWebBundle:Default:idioma.html.twig' %}
			{% endblock %}
			{% block main %}
			<div class="body">
				
				<div class="main">
					{% block body %}
					
					{% endblock %}
					<div class="clear"></div>
				</div>
			</div>
			{% endblock %}
			<div class="clear"></div>
		</div>
		{% block end %}
		<div class="footer up">
			{% block footer %}
			<div class="foot yellow">
			{% trans %} Dark Rises y todas las imagenes asociadas con Dark Rises son propiedad de © Copyright 2012 Last Seal S A. Todos los Derechos Reservados {% endtrans %}
			</div>
			<img src="{{ asset("img/credits.png") }}" class="credits" id="credits" usemap="#credits"/>
			<map id="_credits" name="credits">
				<area shape="rect" target="_blank" coords="10,37,160,96" href="http://www.corfo.cl/" alt="CORFO" title="CORFO"    />
				<area shape="rect" target="_blank" coords="187,25,263,96" href="http://www.gobiernodechile.cl/" alt="Gobierno de Chile" title="Gobierno de Chile"    />
				<area shape="rect" target="_blank" coords="288,37,432,96" href="http://www.lastseal.com/" alt="Last Seal" title="Last Seal"    />
				<area shape="rect" target="_blank" coords="472,34,589,93" href="http://www.usm.cl/" alt="Universidad Técnica Federico Santa María" title="Universidad Técnica Federico Santa María"    />
				<area shape="rect" target="_blank" coords="618,29,739,95" href="http://www.3ie.cl/" alt="Instituto Internacional para la Innovación Empresarial" title="Instituto Internacional para la Innovación Empresarial"    />
				<area shape="rect" target="_blank" coords="764,99,766,101" href="http://www.image-maps.com/index.php?aff=mapped_users_6201208131120509" alt="Image Map" title="Image Map" />
			</map>
			{% endblock %}
		</div>
		{% endblock %}
		<div style="display: none;">
			{% block hidden %}
				{% include 'DarkRisesWebBundle:Default:hideMenu.html.twig' %}
			{% endblock %}
		</div>
		{% block javascript %}
			{% include 'DarkRisesWebBundle:Default:javascriptMenu.html.twig' %}
		{% endblock %}
		
	</body>
</html>