<div class="footer up">
	{% block footer %}
	<div class="foot yellow">
	{% trans %} Dark Rises y todas las imagenes asociadas con Dark Rises son propiedad de © Copyright 2012 Last Seal S A. Todos los Derechos Reservados {% endtrans %}
	</div>
	{% endblock %}
</div>