<div class="menu">
	<div class="header">
		<div>
			<ul class="nav">
				<li>
					<div class="menu-buttons button-inicio">
						<a href="/inicio/" class="menu-buttons">
							<div class="menu-buttons-inside"> {% trans %} Inicio {% endtrans %}  </div>
						</a>
					</div>
				</li>
				<li><div class="menu-buttons button-guia"><a href="/guia/" class="menu-buttons">
					<div class="menu-buttons-inside"> {% trans %} Guia del Juego {% endtrans %}  </div>
				</a></div></li>
				<li><div class="menu-buttons button-media"><a href="/media/" class="menu-buttons">
					<div class="menu-buttons-inside"> {% trans %} Media {% endtrans %}  </div>
				</a></div></li>
				<li><div class="menu-buttons button-comunidad"><a class="menu-buttons">
					<div class="menu-buttons-inside off"> {% trans %} Comunidad {% endtrans %}  </div>
				</a></div></li>
				<li><div class="menu-buttons button-biblioteca"><a class="menu-buttons">
					<div class="menu-buttons-inside off"> {% trans %} Biblioteca {% endtrans %}  </div>
				</a></div></li>
				<li><div class="menu-buttons button-comprar"><a class="menu-buttons">
					<div class="menu-buttons-inside off"> {% trans %} Comprar {% endtrans %}  </div>
				</a></div></li>
				<li><div class="menu-buttons button-eventos"><a href="/eventos/" class="menu-buttons">
					<div class="menu-buttons-inside"> {% trans %} Eventos {% endtrans %}  </div>
				</a></div></li>
				<li><div class="login">
					<div class="login-inside" id="facebook">
						{% if facebook == null %}
						<span class="facebook-button">
						<div class="left">
							<img src="{{ asset("/img/botones/facebook-empty.png") }}" />
						</div>
						<div class="right padding-top">
							<fb:login-button id="auth-loginlink" autologoutlink="true" size="large">{% trans %} facebook {% endtrans %}</fb:login-button>
						</div>
						</span>
						{% else %}
						<div class="facebook-button-login">
						<div class="left facebook-photo">
							<img src="https://graph.facebook.com/{{ facebook['username'] }}/picture" id="facebook-picture"/>
						</div>
						<br/>
						{{ facebook['name'] }}
							<div class="right">
								<fb:login-button class="facebook-logout" id="auth-loginlink" size="small">Cerrar Sesión</fb:login-button>
							</div>
						</div>
						{% endif %}
					</div>
				</div></li>
			</ul>
		</div>
	</div>
</div>